$dark-gray: #2C302E;
$med-gray: #474A48;
$light-gray: #EFEFEF;
$blue: #2FA2CC;

@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

h3 {
  font-family: "Merienda One";
  color: $med-gray;
  a {
    color: $blue;
    font-family: "Cabin Sketch";
    font-size: 36px;
  }
}

h4 {
  color: $blue;
  font-family: "Cabin Sketch";
}

.directions {
  font-style: italic;
  text-decoration: underline;
}

.top-bar {
  background-color: $light-gray;
  color: $med-gray;
  font-family: "Cabin Sketch";
  font-size: 24px;
  border-bottom: 2px solid $blue;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 1rem;

  a {
    color: $blue;
  }
}

.logo-text {
  a {
    color: $med-gray;
    font-family: "Merienda One";

    &:hover {
      text-shadow: 5px 5px 5px $blue;
    }
  }
}

.light-gray-background {
  background-color: $light-gray;
  background-image: url(/assets/sqrl4.png);
  background-size: 20rem;
  background-position: top right;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .light-gray-background {
    background-image: none;
  }

  .top-bar {
    font-size: 18px;
  }
}

.recipe-tile {
  background-color: white;
  color: $med-gray;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;

  img {
    border-radius: 0.5rem;
  }
}

img {
  border-radius: 0.5rem;
}

.pantry {
  color: $med-gray;
  background-color: white;
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 0.5rem;
}

.ingredients {
  color: $med-gray;
  background-color: white;
  border-radius: 0.5rem;
  font-weight: bold;
}

.instructions {
  color: $med-gray;
  background-color: white;
  border-radius: 0.5rem;
}

.recipe-info {
  color: $med-gray;

  a {
    color: $blue;
  }
}

.button {
  background-color: $blue;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.ingredient {

  &:hover {
    text-decoration: underline;
  }

}

.is-missing {
  color: $blue;
}

.inactive-button {
  background-color: $med-gray;
  color: $light-gray;

  &:hover {
    background-color: $light-gray;
  }
}

.sign-in {
  color: $med-gray;

  a {
    color: $blue;
    font-family: "Cabin Sketch";
  }
}

.checkbox {
  margin: 0.5rem;
}

.text-input {
  border-radius: 0.5rem;
}

.logo {
  height: 4rem;
}

.user-profile {
  color: $med-gray;
  font-family: "Merienda One";
}

.delete-button {
  font-weight: bold;
}
