$dark-gray: #2C302E;
$med-gray: #474A48;
$light-gray: #909590;
$light-green: #9AE19D;
$dark-green: #537A5A;
$blue: #2FA2CC;
$light-gray: #EFEFEF;

@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

h3 {
  font-family: "Merienda One";
  color: $med-gray;
  a {
    color: $blue;
    font-family: "Cabin Sketch";
  }
}

h4 {
  color: $blue;
  font-family: "Cabin Sketch";
}

.instructions {
  font-style: italic;
  text-decoration: underline;
}

.top-bar {
  background-color: $light-gray;
  color: $med-gray;
  font-family: "Cabin Sketch";
  border-bottom: 2px solid $blue;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 1rem;

  a {
    color: $blue;
  }
}

.logo-text {
  a {
    color: $med-gray;
    font-family: "Merienda One";

    &:hover {
      text-shadow: 5px 5px 5px $blue;
    }
  }
}

.light-gray-background {
  background-color: $light-gray;
}

.recipe-tile {
  background-color: white;
  color: $med-gray;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pantry {
  color: $med-gray;
  background-color: white;
}

.ingredients {
  color: $med-gray;
  background-color: white;
}

.recipe-info {
  color: $med-gray;

  a {
    color: $blue;
  }
}

.button {
  background-color: $blue;
  margin: 0.5rem;
}

.ingredient {

  &:hover {
    text-decoration: underline;
  }

}

.is-missing {
  color: red;
}

.inactive-button {
  background-color: $med-gray;
  color: $light-gray;

  &:hover {
    background-color: $light-gray;
  }
}

.sign-in {
  color: $med-gray;

  a {
    color: $blue;
    font-family: "Cabin Sketch";
  }
}
